.group-odds-page {
  width: 100%;
}

.group-item {
  transition: background-color 0.2s;
}

.group-item:hover {
  background-color: #f5f5f5;
}

.group-item.active {
  background-color: #e6f7ff;
  border-left: 3px solid #1890ff;
}

.edited-row {
  background-color: #e6f7ff;
}

